<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>米树电商管理平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <style type="text/css">
        html,body{
            width: 100%;
            height: 100%;
            background: #f0f0f0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div id="app">app</div>
</body>

</html>